<header class="header">
    <button class="sidebar-toggle" style="display: none;"><i class="fas fa-bars"></i></button>
    <div class="header-logo header-logo-text">
       <img src="/assets/images/icon.png" alt="Icon Quận/Huyện" style="height: 30px; margin-right: 5px; vertical-align: middle;">
        <span>QUẬN/HUYỆN</span>
    </div>
    <div style="position: absolute; left: 50%; transform: translateX(-50%); font-weight: 600; font-size: 1.6rem; color: #002c5e; text-align: center;" class="header-title-responsive">
        <span class="header-title-text">HỆ THỐNG QUẢN TRỊ CƠ SỞ DỮ LIỆU</span>
    </div>
     <div class="header-user">
        <img src="/assets/images/user.png" alt="User">
        <span>Admin</span>
    </div>

</header>