<div class="sidebar">
    <div class="menu-container">
        <!-- Dashboard -->
        <a href="/dashboard.html" class="menu-item">
            <i class="fas fa-home"></i>
            <span>Trang chủ</span>
        </a>

        <!-- Quản lý dữ liệu -->
        <div class="menu-group">
            <div class="menu-item" data-toggle="dulieu">
                <i class="fas fa-database"></i>
                <span>Quản lý dữ liệu</span>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
            <div class="submenu" id="dulieu">
                <!-- Quản lý dự án -->
                <div class="menu-item" data-toggle="quanlyduan">
                    <i class="fas fa-project-diagram"></i>
                    <span>Quản lý dự án</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="quanlyduan">
                    <a href="/dulieu/quanlyduan/duandautu.html" class="menu-item">Dự án đầu tư</a>
                    <a href="/dulieu/quanlyduan/nguonvon.html" class="menu-item">Nguồn vốn</a>
                    <a href="/dulieu/quanlyduan/hosophaply.html" class="menu-item">Hồ sơ pháp lý</a>
                </div>

                <!-- Quản lý chợ -->
                <div class="menu-item" data-toggle="quanlycho">
                    <i class="fas fa-store"></i>
                    <span>Quản lý chợ</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="quanlycho">
                    <a href="/dulieu/quanlycho/thongtincho.html" class="menu-item">Thông tin chợ</a>
                    <a href="/dulieu/quanlycho/quanlylosap.html" class="menu-item">Quản lý lô/sạp</a>
                    <a href="/dulieu/quanlycho/hokinhdoanh.html" class="menu-item">Hộ kinh doanh</a>
                    <a href="/dulieu/quanlycho/thuphicho.html" class="menu-item">Thu phí chợ</a>
                </div>

                <!-- Quản lý đô thị -->
                <div class="menu-item" data-toggle="quanlydothi">
                    <i class="fas fa-city"></i>
                    <span>Quản lý đô thị</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="quanlydothi">
                    <a href="/dulieu/quanlydothi/xaydung.html" class="menu-item">Xây dựng</a>
                    <a href="/dulieu/quanlydothi/hatang.html" class="menu-item">Hạ tầng</a>
                </div>

                <!-- Kinh tế & Thủy sản -->
                <div class="menu-item" data-toggle="kinhte">
                    <i class="fas fa-fish"></i>
                    <span>Kinh tế & Thủy sản</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="kinhte">
                    <a href="/dulieu/kinhte_thuysan/doanhnghiep.html" class="menu-item">Doanh nghiệp</a>
                    <a href="/dulieu/kinhte_thuysan/thuysan.html" class="menu-item">Thủy sản</a>
                    <a href="/dulieu/kinhte_thuysan/antoanthucpham.html" class="menu-item">An toàn thực phẩm</a>
                </div>

                <!-- Lao động & Xã hội -->
                <div class="menu-item" data-toggle="laodong">
                    <i class="fas fa-users"></i>
                    <span>Lao động & Xã hội</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="laodong">
                    <a href="/dulieu/laodong_xahoi/nguoicocong.html" class="menu-item">Người có công</a>
                    <a href="/dulieu/laodong_xahoi/baotro.html" class="menu-item">Bảo trợ xã hội</a>
                    <a href="/dulieu/laodong_xahoi/giamngheo.html" class="menu-item">Giảm nghèo</a>
                    <a href="/dulieu/laodong_xahoi/treemdb.html" class="menu-item">Trẻ em đặc biệt</a>
                </div>

                <!-- Giáo dục -->
                <div class="menu-item" data-toggle="giaoduc">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Giáo dục</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="giaoduc">
                    <a href="/dulieu/giaoduc/truonghoc.html" class="menu-item">Trường học</a>
                    <a href="/dulieu/giaoduc/vanbang.html" class="menu-item">Văn bằng</a>
                    <a href="/dulieu/giaoduc/thiduakhenthuong.html" class="menu-item">Thi đua khen thưởng</a>
                </div>

                <!-- Văn hóa & Thể thao -->
                <div class="menu-item" data-toggle="vhtt">
                    <i class="fas fa-theater-masks"></i>
                    <span>Văn hóa & Thể thao</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="vhtt">
                    <a href="/dulieu/vanhoa_thethao/ditich.html" class="menu-item">Di tích văn hóa</a>
                    <a href="/dulieu/vanhoa_thethao/thietchevanhoa.html" class="menu-item">Thiết chế văn hóa</a>
                    <a href="/dulieu/vanhoa_thethao/clbthethao.html" class="menu-item">CLB thể thao</a>
                    <a href="/dulieu/vanhoa_thethao/sukien.html" class="menu-item">Sự kiện VHTT</a>
                </div>

                <!-- Y tế -->
                <div class="menu-item" data-toggle="yte">
                    <i class="fas fa-hospital"></i>
                    <span>Y tế</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="yte">
                    <a href="/dulieu/yte/cosoyte.html" class="menu-item">Cơ sở y dược</a>
                    <a href="/dulieu/yte/attp.html" class="menu-item">An toàn thực phẩm</a>
                </div>

                <!-- Tài nguyên môi trường -->
                <div class="menu-item" data-toggle="tnmt">
                    <i class="fas fa-leaf"></i>
                    <span>Tài nguyên môi trường</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="tnmt">
                    <a href="/dulieu/tnmt/moitruong.html" class="menu-item">Quản lý môi trường</a>
                    <a href="/dulieu/tnmt/hodam.html" class="menu-item">Hồ đầm</a>
                    <a href="/dulieu/tnmt/nuoc.html" class="menu-item">Chất lượng nước</a>
                </div>

                <!-- Nội vụ -->
                <div class="menu-item" data-toggle="noivu">
                    <i class="fas fa-building"></i>
                    <span>Nội vụ</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="noivu">
                    <a href="/dulieu/noivu/tongiao.html" class="menu-item">Cơ sở tôn giáo</a>
                    <a href="/dulieu/noivu/todanpho.html" class="menu-item">Tổ dân phố</a>
                    <a href="/dulieu/noivu/canbo.html" class="menu-item">Cán bộ công chức</a>
                </div>

                <!-- Tư pháp -->
                <div class="menu-item" data-toggle="tuphap">
                    <i class="fas fa-balance-scale"></i>
                    <span>Tư pháp</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
                <div class="submenu" id="tuphap">
                    <a href="/dulieu/tuphap/phobienphaply.html" class="menu-item">Phổ biến pháp luật</a>
                </div>
            </div>
        </div>

        <!-- Sự vụ -->
        <div class="menu-group">
            <div class="menu-item" data-toggle="suvu">
                <i class="fas fa-exclamation-triangle"></i>
                <span>Sự vụ</span>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
            <div class="submenu" id="suvu">
                <a href="/suvu/viphamhc.html" class="menu-item">Vi phạm hành chính</a>
                <a href="/suvu/viphamattp.html" class="menu-item">Vi phạm ATTP</a>
                <a href="/suvu/viphamtrattu.html" class="menu-item">Vi phạm trật tự</a>
                <a href="/suvu/xaydungtraiphep.html" class="menu-item">Xây dựng trái phép</a>
                <a href="/suvu/cuongche.html" class="menu-item">Cưỡng chế</a>
            </div>
        </div>

        <!-- Bản đồ GIS
        <div class="menu-group">
            <div class="menu-item" data-toggle="bandogis">
                <i class="fas fa-map"></i>
                <span>Bản đồ GIS</span>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
            <div class="submenu" id="bandogis">
                <a href="/bandogis/hatang.html" class="menu-item">Hạ tầng</a>
            </div>
        </div> -->

        <!-- Bản đồ GIS -->
        <a href="/bandogis/hatang.html" class="menu-item">
            <i class="fas fa-map"></i>
            <span>Bản đồ GIS</span>
        </a>
        <!-- Báo cáo -->
        <div class="menu-group">
            <div class="menu-item" data-toggle="baocao">
                <i class="fas fa-chart-bar"></i>
                <span>Báo cáo</span>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
            <div class="submenu" id="baocao">
                <a href="/baocao/baocaodinhky.html" class="menu-item">Báo cáo định kỳ</a>
                <a href="/baocao/baocaochuyende.html" class="menu-item">Báo cáo chuyên đề</a>
                <a href="/baocao/baocaoktxh.html" class="menu-item">Báo cáo KTXH</a>
            </div>
        </div>

        <!-- Thiết lập -->
        <a href="/setting.html" class="menu-item">
            <i class="fas fa-cog"></i>
            <span>Thiết lập</span>
        </a>
        <!-- <div class="menu-group">
            <div class="menu-item" data-toggle="thietlap">
                <i class="fas fa-cog"></i>
                <span>Thiết lập</span>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
            <div class="submenu" id="thietlap">
                <a href="/thietlap/nguoidung.html" class="menu-item">Người dùng</a>
                <a href="/thietlap/phanquyen.html" class="menu-item">Phân quyền</a>
                <a href="/thietlap/phongban.html" class="menu-item">Phòng ban</a>
                <a href="/thietlap/cauhinh.html" class="menu-item">Cấu hình</a>
            </div>
        </div> -->
    </div>
</div>